{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

{# Setting des variables #}
{% set last_username = last_username|default('') %}
{% set login_error = login_error|default(null) %}

{% for label, messages in app.flashes %}
  {% for message in messages %}
    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endfor %}

{# Arrive sur la page de co, user non co #}
{% if not app.user %}
    <div class="form-container">
    <h1>Connexion</h1>
    {# Formulaire connexion #}
    <form method="post" action="{{ path('app_login') }}">
        <div class="mb-3">
            <label for="inputEmail" class="mb-3">Email</label>
            <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="mb-3">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {% if login_error %}
            <div class="alert alert-danger">
                {{ login_error.messageKey|trans(login_error.messageData, 'security') }}
            </div>
        {% endif %}
        
        <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary w-50">Connexion</button>
        </div>
    </form>
    </div>
{% endif %}

{# Le user se co #}
{% if is_granted('ROLE_ADMIN') %}
    <meta http-equiv="refresh" content="0; url={{ path('app_admin') }}">
{% elseif is_granted('ROLE_PERSONNEL') %}
    <meta http-equiv="refresh" content="0; url={{ path('app_personnel') }}">

{% elseif app.user and 'ROLE_USER' in app.user.roles and ticketForm is defined %}
    <div class="form-container">
        <h1>Créer un ticket</h1>

        {{ form_start(ticketForm, {'attr': {'class': 'needs-validation'}}) }}

        {{ form_row(ticketForm.tick_auteur, { 
            'attr': { class: 'form-control', readonly: true }
        }) }}

        {{ form_row(ticketForm.tick_date_ouv, {
            'attr': {'class': 'form-control', 'readonly': true}
        }) }}

        {{ form_row(ticketForm.tick_description, {
            'attr': {'class': 'form-control'}
        }) }}

        {{ form_row(ticketForm.tick_categorie, {
            'attr': {'class': 'form-control'}
        }) }}

        {{ form_row(ticketForm.tick_status, {
            'attr': {'class': 'form-control'},
            'readonly': true
        }) }}

        {{ form_row(ticketForm.tick_responsable, {
            'attr': {'class': 'form-control', 'readonly': true}
        }) }}

        {{ form_row(ticketForm.tick_date_clo, {
            'attr': {'class': 'form-control', 'readonly': true}
        }) }}

        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
        </div>

        {{ form_end(ticketForm) }}
    </div>

    <form action="{{ path('app_logout') }}" method="post" class="mb-2">
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger w-25">Déconnexion</button>
        </div>
    </form>

{% endif %}

{% endblock %}
